[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
user = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.9"
